@charset "utf-8";
body {
	color: #272121;
	background: #D0CBCB;
	margin: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
header {
	background: #000000;
	position: fixed;
	top: 0;
	width: 100%;
}
main {
	margin-top: 70px;
	margin-bottom:70px;
}
/*section {
	margin-top:150px;
	margin-bottom:150px;
}*/
nav {
	display: inline-block;
	float: right;
	line-height: 46px;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 7px 0;
}
.menu {
	display: inline-block;
	padding: 0 5px;
}
.logo {
	display: inline-block;
	font-size: 40px;
}
.clear {
	clear: both;
}
footer {
	background: #222;
	height: 130px;
}
h1 {
	margin: 20px;
	padding: 3px 0;
	font-size: 3em;
	font-weight: lighter;
}
h2 {
	margin: 0;
	padding: 3px 0;
	font-weight: lighter;
}
a {
	color: #F03A3D;
	text-decoration: none;
}
a:hover {
	color: #5E65E3;
}
img {
	max-width: 400px;
	min-width: 200px;
	margin-top: 20px;
	margin-bottom:20px;
}
.text {
	float: left;
	width: 50%;
}
.img {
	float: left;
	width: 50%;
}
p {
	padding-top: 5px;
}

.footer-text{
color: #FFFFFF;
line-height: 50px;
}


